<app-navbarinicio></app-navbarinicio>
<div class="container contact-form">
  <h1 class="text-center">Formulario de contacto</h1>
  <hr>
  <div class="row">

    <div class="col-md-6 text-justify">
      <h4>Atencion de Lunes a Viernes 8:00 a.m - 12:00 p.m. Y de 2:00 p.m. a 8:00 p.m</h4>
      <h4>Sabados, Domingos y festivos de 9:00 a.m - 12:00 p.m. Y de 1:00 p.m. a 6:00 p.m</h4>
    </div>

    <div class="col-md-6">
      <form [formGroup]="myform" (ngSubmit)="enviardatoslocal(myform.value)">

        <div class="form-group">
          <label>Tipo de Identificación</label>
          <div>
            <select class="form-control" formControlName="tipodocumento" id="tipo" name="idtf">
              <option selected>Seleccione un Tipo de Documento</option>
              <option value="CC">Cédula de Ciudadanía</option>
              <option value="CE">Cédula de Extranjería</option>
              <option value="NIT">NIT</option>
              <option value="PSP">Pasaporte</option>
            </select>
          </div>
          <div wi *ngIf="this.myform.get('tipodocumento').errors?.required" class="alert alert-danger" role="alert">
            (Campo obligatorio)
          </div>
        </div>

        <div class="form-group">
          <label>Identificación</label>
          <input id="us_id" formControlName="identificacion" (keypress)="onlyNumberKey($event)" maxlength="11" type="text" class="form-control">
          <div *ngIf="this.myform.get('identificacion').errors?.required"class="alert alert-danger" role="alert">
            (Campo obligatorio)
          </div>
          <div *ngIf="this.myform.get('identificacion').errors?.minlength"class="alert alert-danger" role="alert">
            (Completar el campo correctamente)
          </div>
        </div>


        <div class="form-group">
          <label>Nombre(s) & Apellidos</label>
          <input type="text" formControlName="nombreapellidos" class="form-control">
          <div *ngIf="this.myform.get('nombreapellidos').errors?.required"class="alert alert-danger" role="alert">
            (Campo obligatorio)
          </div>
        </div>


        <div class="form-group">
          <label>Correo</label>
          <input type="text" formControlName="correo" class="form-control">
          <div *ngIf="this.myform.get('correo').errors?.required"class="alert alert-danger" role="alert">
            (Campo obligatorio)
          </div>
          <div *ngIf="this.myform.get('correo').errors?.email"class="alert alert-danger" role="alert">
            (Completar el campo correctamente)
          </div>
        </div>

        <div class="form-group">
          <label>Celular</label>
          <input type="text" formControlName="telefono" maxlength="10" (keypress)="onlyNumberKey($event)" class="form-control">
          <div *ngIf="this.myform.get('telefono').errors?.required"class="alert alert-danger" role="alert">
            (Campo obligatorio)
          </div>
          <div *ngIf="this.myform.get('telefono').errors?.minlength"class="alert alert-danger" role="alert">
            (Completar el campo correctamente)
          </div>
        </div>

        <div class="form-group">
          <label>Tipo de Solicitud</label>
          <select class="form-control" formControlName="tiposolicitud" name="idtf2">
            <option selected>Seleccione un Tipo de Solicitud</option>
            <option value="Petición">Petición</option>
            <option value="Queja">Queja</option>
            <option value="Reclamo">Reclamo</option>
            <option value="Sugerencia">Sugerencia</option>
          </select>
          <div *ngIf="this.myform.get('tiposolicitud').errors?.required"class="alert alert-danger" role="alert">
            (Campo obligatorio)
          </div>
        </div>

        <div class="form-group">
          <label>Mensaje</label>
          <div>
            <textarea formControlName="mensaje" class="form-control"></textarea>
          </div>
          <div *ngIf="this.myform.get('mensaje').errors?.required"class="alert alert-danger" role="alert">
            (Campo obligatorio)
          </div>
          <div *ngIf="this.myform.get('mensaje').errors?.minlength"class="alert alert-danger" role="alert">
            (minimo 10 caracteres)
          </div>
          <div *ngIf="this.myform.get('mensaje').errors?.maxlength"class="alert alert-danger" role="alert">
            (Maximo 500 caracteres)
          </div>


        </div>
        <button type="submit" [disabled]="myform.invalid" name="btncalcular" class="btn btn-primary">Registrar</button>
      </form>

    </div>

  </div>

</div>
<br>
<app-footer></app-footer>