<app-navbarinicio></app-navbarinicio>
<div class="container">
<div class="row">
    <div class="col-md-6">
<div class="table-resposible-md" >
<table class="table table-bordered"  >
    <thead  class="thead-dark ">
      <tr>
        <th>Corte</th>
        <th>Precios</th>
        <th>imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ lista[0].Corte | uppercase }}</td>
        <td>{{ lista[0].Precio | currency:'$':'symbol':'3.0-0'}}</td>
        <td><img src="../../../assets/img/corteleñador.jpg"></td>
      </tr>

      <tr>
        <td>{{ lista[1].Corte | uppercase }}</td>
        <td>{{ lista[1].Precio | currency:'$':'symbol':'3.0-0'}}</td>
        <td><img src="../../../assets/img/cortemilitar1.jpg"></td>
      </tr>

      <tr>
        <td>{{ lista[2].Corte | uppercase }}</td>
        <td>{{ lista[2].Precio | currency:'$':'symbol':'3.0-0'}}</td>
        <td><img src="../../../assets/img/corteel7sencillo.jpg"></td>
      </tr>
      <tr>
        <td>{{ lista[3].Corte | uppercase }}</td>
        <td>{{ lista[3].Precio | currency:'$':'symbol':'3.0-0'}}</td>
        <td><img src="../../../assets/img/corteel7lineadegradado.jpg"></td>
      </tr>

      <tr>
        <td>{{ lista[4].Corte | uppercase }}</td>
        <td>{{ lista[4].Precio | currency:'$':'symbol':'3.0-0'}}</td>
        <td><img src="../../../assets/img/diseñodebarba.jpg"></td>
      </tr>

      <tr>
        <td>{{ lista[5].Corte | uppercase }}</td>
        <td>{{ lista[5].Precio | currency:'$':'symbol':'3.0-0'}}</td>
        <td><img src="../../../assets/img/corteconlineas.jpg"></td>
      </tr>



    </tbody>
  </table>
</div>
    </div>

    <div class="col-md-6">
        <div class="table-resposible-md" >
        <table class="table table-bordered"  >
            <thead  class="thead-dark ">
              <tr>
                <th>Corte</th>
                <th>Precios</th>
                <th>imagen</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{lista[6].Corte | uppercase }}</td>
                <td>{{ lista[6].Precio | currency:'$':'symbol':'3.0-0'}}</td>
                <td><img src="../../../assets/img/cortecondiseñodecejas.jpg"></td>
              </tr>
        
              <tr>
                <td>{{lista[7].Corte | uppercase }}</td>
                <td>{{ lista[7].Precio | currency:'$':'symbol':'3.0-0'}}</td>
                <td><img src="../../../assets/img/corteenvsencillo.jpg"></td>
              </tr>
         
              <tr>
                <td>{{lista[8].Corte | uppercase }}</td>
                <td>{{ lista[8].Precio | currency:'$':'symbol':'3.0-0'}}</td>
                <td><img src="../../../assets/img/corteenvconlinea.jpg"></td>
              </tr>
              <tr>
                <td>{{lista[9].Corte | uppercase }}</td>
                <td>{{ lista[9].Precio | currency:'$':'symbol':'3.0-0'}}</td>
                <td><img src="../../../assets/img/cortetexturesencillo.jpg"></td>
              </tr>
        
              <tr>
                <td>{{lista[10].Corte | uppercase }}</td>
                <td>{{ lista[10].Precio | currency:'$':'symbol':'3.0-0'}}</td>
                <td><img src="../../../assets/img/cortetextureconlinea.jpg"></td>
              </tr>

              <tr>
                <td>{{lista[11].Corte | uppercase }}</td>
                <td>{{ lista[11].Precio | currency:'$':'symbol':'3.0-0'}}</td>
                <td><img src="../../../assets/img/cortelineamasbarba.jpg"></td>
              </tr>
          
            </tbody>
          </table>
        </div>
            </div>
</div>

</div>
  <br>

<app-footer></app-footer>