<app-navbarinicio></app-navbarinicio>
<div class="container">
<div class="row">
    <div class="col-md-6">
<div class="table-resposible-md" >
<table class="table table-bordered"  >
    <thead  class="thead-dark ">
      <tr>
        <th>Corte</th>
        <th>Precios</th>
        <th>imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Corte tipo Leñador</td>
        <td>$ 12.000</td>
        <td><img src="../../../assets/img/corteleñador.jpg"></td>
      </tr>

      <tr>
        <td>Corte tipo Militar</td>
        <td>$ 8.000</td>
        <td><img src="../../../assets/img/cortemilitar1.jpg"></td>
      </tr>

      <tr>
        <td>Corte tipo 7 sencillo</td>
        <td>$ 8.000</td>
        <td><img src="../../../assets/img/corteel7sencillo.jpg"></td>
      </tr>
      <tr>
        <td>Corte tipo 7 con lineas y degradado</td>
        <td>$ 9.000</td>
        <td><img src="../../../assets/img/corteel7lineadegradado.jpg"></td>
      </tr>

      <tr>
        <td>Diseño de barba</td>
        <td>$ 12.000</td>
        <td><img src="../../../assets/img/diseñodebarba.jpg"></td>
      </tr>

      <tr>
        <td>Diseño de cortes con figuras</td>
        <td>$ 9.000</td>
        <td><img src="../../../assets/img/corteconlineas.jpg"></td>
      </tr>



    </tbody>
  </table>
</div>
    </div>

    <div class="col-md-6">
        <div class="table-resposible-md" >
        <table class="table table-bordered"  >
            <thead  class="thead-dark ">
              <tr>
                <th>Corte</th>
                <th>Precios</th>
                <th>imagen</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><h4> corte con diseño de cejas</h4></td>
                <td>$ 10.000</td>
                <td><img src="../../../assets/img/cortecondiseñodecejas.jpg"></td>
              </tr>
        
              <tr>
                <td>Corte tipo V sencillo</td>
                <td>$ 9.000</td>
                <td><img src="../../../assets/img/corteenvsencillo.jpg"></td>
              </tr>
        
              <tr>
                <td>Corte tipo V con linea</td>
                <td>$ 10.000</td>
                <td><img src="../../../assets/img/corteenvconlinea.jpg"></td>
              </tr>
              <tr>
                <td>Corte texture sencillo</td>
                <td>$ 11.000</td>
                <td><img src="../../../assets/img/cortetexturesencillo.jpg"></td>
              </tr>
        
              <tr>
                <td>Corte texture con linea</td>
                <td>$ 12.000</td>
                <td><img src="../../../assets/img/cortetextureconlinea.jpg"></td>
              </tr>

              <tr>
                <td>corte con diseño de barba y figuras </td>
                <td>$ 20.000</td>
                <td><img src="../../../assets/img/cortelineamasbarba.jpg"></td>
              </tr>
        
        
        
            </tbody>
          </table>
        </div>
            </div>
</div>

</div>
  <br>

<app-footer></app-footer>