<app-navbarusuario></app-navbarusuario>
<div class="container">
    <div class="row">
        
        <div class="col-md-12">
            <div class="panel-heading text-center"><h2>LISTA DE HORARIO DISPONIBLE</h2></div>
            <div class="table-responsive" >
            <table class="table table-striped table-hover"  >
                <thead  class="thead-dark ">
                  <tr>
                    <th>Horas</th>
                    <th>Reserva</th>
                    <th>Barbero</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>7:40 - 8:20 am</td>
                    <td>sin reserva</td>
                    <td>kevin</td>
                    <td><button type="button" class="btn btn-success editbtn">
                        <span>Registrar</span></button>     
                    </td>    
                  </tr>
                  <tr>
                    <td>8:20 - 9:00 am</td>
                    <td>sin reserva</td>
                    <td>kevin</td>
                    <td><button type="button" class="btn btn-success editbtn">
                        <span>Registrar</span></button>     
                    </td>    
                  </tr>
                </tbody>
              </table>
            </div>
                </div>

    </div>
</div>


<app-footer></app-footer>
