<app-navbarinicio></app-navbarinicio>
<div class="container">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="../../assets/img/login.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form [formGroup]="login" (ngSubmit)="iniciosesion(login.value)">
      <span id="reauth-email" class="reauth-email"></span>
     
      <input type="email" name="txtusuario" class="form-control" formControlName="correo" placeholder="Email address">
      <div *ngIf= "this.login.get('correo').errors?.email" class="alert alert-danger" role="alert">
        (Completar el campo correctamente)
      </div>
      <label> </label>
      <input type="password" name="txtpassword" class="form-control" placeholder="password" formControlName="password">
      <div *ngIf= "this.login.get('password').errors?.minlength" class="alert alert-danger" role="alert">
        (minimo 8 caracteres)
      </div>
      <label> </label>
      <button type="submit" [disabled]="login.invalid"  name="btncalcular" class="btn btn-lg btn-primary btn-block btn-signin" >Inicio sesion</button><br>
      <button type="button" class="btn btn-lg btn-primary btn-block btn-signin" data-toggle="modal"
        data-target="#myModal">Registrar</button>
    </form><!-- /form -->

  </div><!-- /card-container -->
</div><!-- /container -->

<!-------------------------------------------------------------------------------------------------------------------->

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Registro</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
        <form [formGroup]="modalform" (ngSubmit)="enviar(modalform.value)">
          <div class="col-lg-12">

            <div class="form-group">
              <label>Identificación</label>
              <input  id="us_id" formControlName="identificacion" (keypress)="onlyNumberKey($event)"  maxlength="11" type="text" class="form-control">
              <div *ngIf= "this.modalform.get('identificacion').errors?.required && this.modalform.get('identificacion').errors?.numerospositivos" class="alert alert-danger" role="alert">
                (Campo obligatorio)
              </div>
              <div *ngIf= "this.modalform.get('identificacion').errors?.minlength" class="alert alert-danger" role="alert">
                (Completar el campo correctamente)
              </div>
             </div>

            <div class="form-group">
              <label>Nombres</label>
              <input name="nombre" class="form-control" formControlName="nombres" >
              <div *ngIf= "this.modalform.get('nombres').errors?.required" class="alert alert-danger" role="alert">
                (Campo obligatorio)
              </div>
            </div>

            <div class="form-group">
              <label>Apellidos</label>
              <input name="apellido" class="form-control" formControlName="apellidos">
              <div *ngIf= "this.modalform.get('apellidos').errors?.required" class="alert alert-danger" role="alert">
                (Campo obligatorio)
              </div>
            </div>

            <div class="form-group">
              <label>Correo</label>
              <input name="correo" class="form-control" type="email" formControlName="correo">
              <div *ngIf= "this.modalform.get('correo').errors?.required" class="alert alert-danger" role="alert">
                (Campo obligatorio)
              </div>
              <div *ngIf= "this.modalform.get('correo').errors?.email" class="alert alert-danger" role="alert">
                (Completar el campo correctamente)
              </div>
            </div>

            <div class="form-group">
              <label>Contraseña</label>
              <input class="form-control" type="password" formControlName="pass">
              <div *ngIf= "this.modalform.get('pass').errors?.required" class="alert alert-danger" role="alert">
                (Campo obligatorio)
              </div>
              <div *ngIf= "this.modalform.get('pass').errors?.minlength" class="alert alert-danger" role="alert">
                (minimo 8 caracteres)
              </div>            
            </div>

            <div class="form-group">
              <label>Confirmar contraseña</label>
              <input name="verpass" class="form-control" type="password" formControlName="verpass">
              <div *ngIf= "this.modalform.get('verpass').errors?.required" class="alert alert-danger" role="alert">
                (Campo obligatorio)
              </div>
              <div *ngIf= "this.modalform.get('verpass').errors?.minlength" class="alert alert-danger" role="alert">
                (minimo 8 caracteres)
              </div>
            </div>

            <button type="submit" [disabled]="modalform.invalid"  name="btncalcular" class="btn btn-primary" >Registrar</button>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>