<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" [routerLink]="['/vistamisdatosU']" >Barber Elite</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/vistamisdatosU']">Mis datos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/vistacitasU']">Horarios de citas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/vistamiscitasU']">Mi citas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">pagina inicio</a>
          </li>
        
      </ul>

    </div>  
  </nav>

