<app-navbaradministrador></app-navbaradministrador>
<div class="container">
  <div class="row">

    <div class="col-md-12 col-sm-4">
      <div class="panel-heading text-center">
        <h2>LISTA DE BARBEROS</h2>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover ">
          <thead class="thead-dark ">
            <tr>
              <th>identificacion</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Correo</th>
              <th>Contraseña</th>
              <th colspan="2"><button type="button" class="btn btn-md btn-primary btn-block btn-signin"
                  data-toggle="modal" data-target="#myModal">Agregar</button></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Barberia  of Barberia; let posicion = index"  >
              <td>{{Barberia.identificacion}}{{posicion}}</td>
              <td>{{Barberia.nombres}}</td>
              <td>{{Barberia.apellidos}}</td>
              <td>{{Barberia.correo}}</td>
              <td>{{Barberia.pass}}</td>

              <td><button type="button" class="btn btn-success editbtn" data-toggle="modal" data-target="#editar"(click)="editarusuario(posicion)">
                  <span>Editat</span></button>
              </td>
              <td class="align-items-center"><button type='button' (click)="eliminarusuario(posicion)" class="btn btn-danger ">
                  <span>Eliminar</span></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



   <!-- Modal Agregar nuevo usuario-->

   <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Registro</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
  
        </div>
        <div class="modal-body">
          <form [formGroup]="modalform1" (ngSubmit)="agregar(modalform1.value)">
            <div class="col-lg-12">
  
              <div class="form-group">
                <label>Identificación</label>
                <input  formControlName="identificacion" maxlength="11" (keypress)="onlyNumberKey($event)" type="text" class="form-control">
                <div *ngIf= "this.modalform1.get('identificacion').errors?.required"class="alert alert-danger" role="alert">
                  (Campo obligatorio)
                </div>
                <div *ngIf= "this.modalform1.get('identificacion').errors?.minlength"class="alert alert-danger" role="alert">
                  (Completar el campo correctamente)
                </div>
                <div *ngIf= "this.modalform1.get('identificacion').errors?.pattern"class="alert alert-danger" role="alert">
                  (solo numero)
                </div> 
               </div>
  
              <div class="form-group">
                <label>Nombres</label>
                <input name="nombre" class="form-control" formControlName="nombres">
                <div *ngIf= "this.modalform1.get('nombres').errors?.required"class="alert alert-danger" role="alert">
                  (Campo obligatorio)
                </div>
              </div>
  
              <div class="form-group">
                <label>Apellidos</label>
                <input name="apellido" class="form-control" formControlName="apellidos">
                <div *ngIf= "this.modalform1.get('apellidos').errors?.required"class="alert alert-danger" role="alert">
                  (Campo obligatorio)
                </div>
              </div>
  
              <div class="form-group">
                <label>Correo</label>
                <input name="correo" class="form-control" type="email" formControlName="correo">
                <div *ngIf= "this.modalform1.get('correo').errors?.required"class="alert alert-danger" role="alert">
                  (Campo obligatorio)
                </div>
                <div *ngIf= "this.modalform1.get('correo').errors?.email"class="alert alert-danger" role="alert">
                  (Completar el campo correctamente)
                </div>
              </div>
  
              <div class="form-group">
                <label>Contraseña</label>
                <input class="form-control" type="password" formControlName="pass">
                <div *ngIf= "this.modalform1.get('pass').errors?.required" class="alert alert-danger" role="alert">
                  (Campo obligatorio)
                </div>
                <div *ngIf= "this.modalform1.get('pass').errors?.minlength" class="alert alert-danger" role="alert">
                  (minimo 8 caracteres)
                </div>            
              </div>
  
              <button type="submit" [disabled]="modalform1.invalid"    name="btncalcular" class="btn btn-primary" >Registrar</button>
            </div>
  
          </form>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>
  
  
     <!-- Modal Editar  usuario-->
  
  
  <div id="editar" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Actualizar registro</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
  
        </div>
        <div class="modal-body">
          <form [formGroup]="editarmodal">
            <div class="col-lg-12">
  
              <div class="form-group">
                <label>Identificación</label>
                <input  id="us_id" formControlName="identificacion1" maxlength="11" type="text" class="form-control">
                <div *ngIf= "this.editarmodal.get('identificacion1').errors?.required">
                  (Campo obligatorio)
                </div>
                <div *ngIf= "this.editarmodal.get('identificacion1').errors?.minlength"class="alert alert-danger" role="alert">
                  (Completar el campo correctamente)
                </div>
                <div *ngIf= "this.editarmodal.get('identificacion1').errors?.pattern"class="alert alert-danger" role="alert">
                  (solo numero)
                </div> 
               </div>
  
              <div class="form-group">
                <label>Nombres</label>
                <input name="nombre" class="form-control" formControlName="nombres1">
                <div *ngIf= "this.editarmodal.get('nombres1').errors?.required"class="alert alert-danger" role="alert">
                  (Campo obligatorio)
                </div>
              </div>
  
              <div class="form-group">
                <label>Apellidos</label>
                <input name="apellido" class="form-control" formControlName="apellidos1">
                <div *ngIf= "this.editarmodal.get('apellidos1').errors?.required"class="alert alert-danger" role="alert">
                  (Campo obligatorio)
                </div>
              </div>
  
              <div class="form-group">
                <label>Correo</label>
                <input name="correo" class="form-control" type="email" formControlName="correo1">
                <div *ngIf= "this.editarmodal.get('correo1').errors?.required"class="alert alert-danger" role="alert">
                  (Campo obligatorio)
                </div>
                <div *ngIf= "this.editarmodal.get('correo1').errors?.email"class="alert alert-danger" role="alert">
                  (Completar el campo correctamente)
                </div>
              </div>
  
              <div class="form-group">
                <label>Contraseña</label>
                <input class="form-control" type="password" formControlName="pass1">
                <div *ngIf= "this.editarmodal.get('pass1').errors?.required"class="alert alert-danger" role="alert">
                  (Campo obligatorio)
                </div>
                <div *ngIf= "this.editarmodal.get('pass1').errors?.minlength"class="alert alert-danger" role="alert">
                  (minimo 8 caracteres)
                </div>            
              </div>
              
              <button type="submit" [disabled]="editarmodal.invalid"  name="btncalcular" class="btn btn-primary" >Registrar</button>
            </div>
  
          </form>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>

<app-footer></app-footer>