<app-navbarbarbero></app-navbarbarbero>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="table-resposible-md" >
            <table class="table table-bordered"  >
                <thead  class="thead-dark ">
                  <tr>
                    <th>Horas</th>
                    <th>Reserva</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td>8:00 am</td>
                    <td>Sin reserva</td>
                  </tr>
            
                  <tr>
                    <td>8:40 am</td>
                    <td>Cristian</td>
                  </tr>
            
                </tbody>
              </table>
            </div>
                </div>

    </div>
</div>

<app-footer></app-footer>
