<app-navbaradministrador></app-navbaradministrador>
<div class="container">
    <div class="row">
        
        <div class="col-md-12">
            <div class="panel-heading text-center"><h2>HORARIOS DE TRABAJOS</h2></div>
            <div class="table-responsive" >
            <table class="table table-striped table-hover"  >
                <thead  class="thead-dark ">
                  <tr>
                    <th>Horas</th>
                    <th>Clientes</th>
                    <th>Barbero</th>
                    <th></th>
                </thead>
                <tbody>
                  <tr>
                    <td>7:00 - 7:40 am</td>
                    <td>sin reserva</td>
                    <td>kevin</td>
                    <td class="align-items-center"><button type ='button' class ="btn btn-danger ">
                        <span>Eliminar</span></button></td>    
                  </tr>
                  <tr>
                    <td>7:40 - 8:20 am</td>
                    <td>Pedro suarez</td>
                    <td>kevin</td>
                    <td class="align-items-center"><button type ='button' class ="btn btn-danger ">
                        <span>Eliminar</span></button></td>    
                  </tr>

            
                </tbody>
              </table>
            </div>
                </div>

    </div>
</div>


<app-footer></app-footer>
